@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('../fonts/mont-400.woff2') format('woff2'),
         url('../fonts/mont-400.woff') format('woff');
  }
  @font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    src: url('../fonts/mont-600.woff2') format('woff2'),
         url('../fonts/mont-600.woff') format('woff');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/mont-700.woff2') format('woff2'),
         url('../fonts/mont-700.woff') format('woff');
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/mont-800.woff2') format('woff2'),
         url('../fonts/mont-800.woff') format('woff');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.start__box.not-active {
    display: none;
}

.start__box {
    display: flex;
    width: 1360px;
    overflow: hidden;
}

.start__left-box {
    position: relative;
    padding-top: 10px;
    max-width: 630px;
}

.start__prefix-text {
    text-transform: uppercase;
    color: #487BFE;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 4px;
    margin-bottom: 15px;
}

.start__par-text-space {
    margin-bottom: 8px;
}

.start__h1-text {
    color: #2A2B30;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    margin-bottom: 17px;
}

.start__par-text {
    color: #2A2B30;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.start__par-text-space-last {
    margin-bottom: 48px;
}

.start__start-button {
    padding: 8px 72px 8px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2A2B30;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    background-color: #FFDD3C;
    border: none;
    border-radius: 8px;
    margin-bottom: 46px;
    cursor: pointer;
}

.start__start-button::after {
    content: url(../img/start__start-button-arrow-img.png);
    padding-left: 9px;
    transform: translateY(3px);
}

.start__like-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616368;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    border: none;
    background: none;
    cursor: pointer;
}

.start__like-button::before {
    content: url(../img/start__like-img.png);
    padding-right: 16px;
    transform: translateY(3px);
}

.start__img {
    padding-left: 90px;
}

/* .survey__box.is-active {
    display: block;
} */

.survey__box{
    display: none;
    padding-top: 120px;
    width: 1360px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.survey__box-inside-block1 {
    display: flex;
    flex-direction: column;
    width: 864px;
}

.survey__box-counter {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #2A2B30;
    margin-bottom: 15px;
}

.survey__box-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #2A2B30;
    margin-bottom: 64px;
}

.survey__box-header-high {
    color: #487BFE;
}

.survey__box-answer {
    padding: 11px 30px 12px 30px;
    border: 2px solid #B4B5B7;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 16px;
}

.survey__box-answer:hover {
    background-color: #F7F7F9;
}

.survey__box-answer-correct {
    color: #2EB46C;
    border: 2px solid #2EB46C;
}
.survey__box-answer-incorrect {
    color: #FE6767;
    border: 2px solid #FE6767;
}     

.survey__box-answer-block {
    margin-bottom: 56px;
}

.survey__box-answer-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}

input {
    display: none;
}

.survey__button {
    padding: 8px 72px 9px 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2A2B30;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    background-color: #FFDD3C;
    border: none;
    border-radius: 8px;
    margin-bottom: 46px;
    transform: translateX(2px);
    cursor: pointer;
}

.survey__button::after {
    content: url(../img/start__start-button-arrow-img.png);
    padding-left: 9px;
    transform: translateY(3px);
}

.survey__box-1.is-active {
    display: block;
    background-image: url(../img/survey__box-img-1.png);
    background-position: 609px 33px;
}

.survey__box-2.is-active {
    display: block;
    background-image: url(../img/survey__box-img-2.png);
    background-position: 624px 0px;
}

.survey__box-3.is-active {
    display: block;
    background-image: url(../img/survey__box-img-3.png);
    background-position: 672px -2px;
}

.survey__box-4.is-active {
    display: block;
    background-image: url(../img/survey__box-img-4.png);
    background-position: 586px 73px;
}

.survey__box-5.is-active {
    display: block;
    background-image: url(../img/survey__box-img-5.png);
    background-position: 640px 11px;
}

.survey__box-6.is-active {
    display: block;
    background-image: url(../img/survey__box-img-6.png);
    background-position: 676px 40px;
}

.survey__box-7.is-active {
    display: block;
    background-image: url(../img/survey__box-img-7.png);
    background-position: 720px 28px;
}

.survey__box-8.is-active {
    display: block;
    background-image: url(../img/survey__box-img-8.png);
    background-position: 713px 68px;
}

